{% extends 'index_base.html' %}
{% block title %}
Sign Up
{% endblock %}
{% block content %}

<div class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <main class="form-signin w-100 m-auto d-flex align-items-center justify-content-center">
    <form action="{{ url_for('auth.user_request_otp') }}" method="post"
      class="bg-success my-5 p-3 text-white bg-opacity-50 rounded col-sm-8 col-lg-5">
      <div class="form-group">
        <label for="inEmail">ایمیل</label>
        <input type="email" class="form-control my-2" name="inEmail" id="inEmail" placeholder="ایمیل..."
          value="{{ request.form['inEmail'] }}">
      </div>
      <div class="form-group">
        <label for="inPhone">شماره تلفن</label>
        <input type="tel" class="form-control my-2" id="inPhone" name="inPhone" pattern="[0-9]{11}"
          placeholder="تلفن..." value="{{ request.form['inPhone'] }}">
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success m-2" value="Submit">ورود</button>
      </div>
    </form>
  </main>
</div>
{% endblock %}