{% extends 'base.html' %}
{% block title %}
Detail
{% endblock %}

{% block content %}
<main class="container">
    <section class="row text-center d-flex justify-content-center">
        <!-- Swiper -->
         <div class="col-12 col-lg-5">
        <swiper-container space-between="30" pagination="true"
            pagination-clickable="true">
            {% for image in ad_images %}
            <swiper-slide>
                <img class="w-100" src="{{ url_for('static', filename=image['ImagePath']) }}" alt="ad img">
            </swiper-slide>
            {% endfor %}
        </swiper-container>
    </div>


        <div class="col-12 col-lg-5">
        <div class="card ">
            <h1 class="title p-3">
                {{ item['Title'] }}
            </h1>
            <div class="card-body p-3">
                <p class="p-2 card-text"><strong> Price: </strong>
                    {{item['Price']}}
                </p>

                {% if item[6] %}
                <p class="p-2 card-text"><strong> Description: </strong> <small>
                        {{item['Descriptions']}} </small></p>
                {% endif %}
                <!--                            <button type="button" class="m-4 btn btn-secondary btn-lg">-->
                <!--                                <a href="#">Contact Seller</a>-->
                <!--                            </button>-->
                <button type="button" class="m-4 btn btn-primary btn-lg">
                    <a href="{{url_for('ad.report_ad', ad_id=item['AdID'])}}">Report Advertiser</a>
                </button>
                <p style="font-size: 2rem ;" class="p-2 card-text"><strong> Seller: </strong></p>
                <p>{{seller['name']}}</p>
                <p>{{seller['info']}}</p>
                <!--                    <button onclick="window.open('http://127.0.0.1:5000//reportAd','_blank')">Report Advertise</button>-->
                <!--                    url_for('advertise_detail', adv_id=item[0])-->
            </div>
        </div>
    </div>

    </section>
</main>
{% endblock %}