{% extends 'admin_base.html' %}
{% block title %}
Register Advertise
{% endblock %}
{% block content %}

<section>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-6 col-xl-5 mx-5 my-3 p-5">
        <div class="card text-black border-none rounded-4">
          <div class="card-body p-md-3">
            <div class="row justify-content-center">
              <div class="col-12">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Change Status</p>

                <form action="{{ url_for('admin.check_ad',adv_id=AdID) }}" method="post" class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-end mb-2">
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <label class="form-label" for="comment">Comment</label>
                      <input type="text" class="form-control" name="comment" id="comment" placeholder="Enter Comment"
                        value="{{ request.form['comment'] }}">
                    </div>
                  </div>

                  <div class="form-check d-flex flex-row align-items-end p-0 mb-4">
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <label class="form-check-label" for="statID">Status: </label>
                      <select id="statID" name="statID" class="form-select my-2" required>
                        <option value=0>DELETED</option>
                        <option value=1>CONFIRMED</option>
                        <option value=2>REJECTED</option>
                        <option value=3>WAITING</option>
                      </select>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button value="Submit" type="submit" class="btn btn-primary btn-lg">Change</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}