{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
<form class="d-flex" role="search" method="post" action="{{ url_for('home') }}">
        <input class="form-control me-2" value="{{ request.form['searchString'] }}" type="search" placeholder="Search" name="searchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
</form>

  <section class="py-5 text-center container">
    <h1 class="display-4 m-5">Newest Items</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% for item in items %}
        <div class="card p-3" >
        <!--     goes to item details page      -->
          <a href="{{ url_for('advertise_detail', adv_id=item[0]) }}">
          <img src="{{ url_for('static', filename=item[13]) }}" class="card-img-top" alt="image" height="100px">
          <div class="card-body">
            <h2 class="card-title display-6">{{ item[4] }}</h2>
              <p class="card-text">Price: {{ item[5] }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>



<!--<nav>-->
<!--  <ul class="pagination">-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="#" aria-label="Previous">-->
<!--        <span aria-hidden="true">&laquo;</span>-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="#" aria-label="Next">-->
<!--        <span aria-hidden="true">&raquo;</span>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->

{% endblock %}
