{% extends 'index_base.html' %}
{% block title %}
Sign Up
{% endblock %}
{% block content %}

<div class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <main class="form-signin w-100 m-auto d-flex align-items-center justify-content-center">
    <form action="{{ url_for('sign_up') }}" method="post"
      class="bg-success my-5 p-3 text-white bg-opacity-50 rounded col-sm-8 col-lg-5">
      <div class="form-group">
        <label for="inEmail">ایمیل</label>
        <input type="email" class="form-control my-2" name="inEmail" id="inEmail" placeholder="ایمیل..."
          value="{{ request.form['inEmail'] }}">
      </div>
      <div class="form-group">
        <label for="inPhone">شماره تلفن</label>
        <input type="tel" class="form-control my-2" id="inPhone" name="inPhone" pattern="[0-9]{11}"
          placeholder="تلفن..." value="{{ request.form['inPhone'] }}">
      </div>

      <div class="form-group">
        <label for="inFName">نام</label>
        <input type="text" class="form-control my-2" name="inFName" id="inFName" placeholder="نام..."
          value="{{ request.form['inFName'] }}" required>
      </div>
      <div class="form-group">
        <label for="inLName">نام خانوادگی</label>
        <input type="text" class="form-control my-2" name="inLName" id="inLName" placeholder="نام خانوادگی..."
          value="{{ request.form['inLName'] }}" required>
      </div>

      <div class="form-group">
        <label for="uCity">شهر </label>
        <select id="uCity" name="uCity" class="form-select my-2" required>
          {% for city in cities %}
          <option value="{{ city[0] }}">{{ city[0] }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="inStreet">خیابان</label>
        <input type="text" class="form-control my-2" name="inStreet" id="inStreet" placeholder="خیابان..."
          value="{{ request.form['inStreet'] }}">
      </div>
      <div class="form-group">
        <label for="inHouseNum">شماره پلاک</label>
        <input type="number" class="form-control my-2" name="inHouseNum" id="inHouseNum" placeholder="پلاک..."
          value="{{ request.form['inHouseNum'] }}">
      </div>

      <!--      <div class="form-group form-check">-->
      <!--        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>-->
      <!--        <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
      <!--      </div>-->
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success m-2" value="Submit">ثبت نام</button>
      </div>
    </form>
  </main>
</div>
{% endblock %}